section {padding: 50px 0;}
input.input-bg,
select.input-bg {
    background-color: #fff;
    border-radius: 50px;
    font-family: 'Montserrat';
}
select.input-bg {
    padding: 12px 20px;
}
input.input-bg:focus, select.input-bg:focus {
    border: 1px solid rgb(8, 143, 143);
}
select:focus-visible {
    outline: none;
}
.btn.btn-greenblue {
    padding: 6px 25px;
    background: linear-gradient(45deg, rgb(8, 143, 143), rgb(255 33 79 / 52%));
    border: none;
    border-radius: 100px;
    color: #fff;
    font-size: 13px;
}
.breadcrumb ul {color: #fff;}
.bg-extra-green-blue {background-color: rgb(8, 143, 143);}
.text-green-blue {color: #ffffff}
header.header-appear nav.header-dark, header.sticky nav.navbar-fixed-top.header-dark, header.sticky nav.navbar-scroll-fixed-top.header-dark {
    background-color: rgb(8 143 143);
    box-shadow: 0px 0px 10px 5px rgb(10 83 83 / 63%);
}